﻿@model AsmukovichKurs.Models.DeliveryAssignment

@{
    ViewData["Title"] = "Edit Delivery Assignment";
}

<h1>Edit Delivery Assignment</h1>

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="OrderId" class="control-label"></label>
        <select asp-for="OrderId" class="form-control" asp-items="ViewBag.OrderId"></select>
        <span asp-validation-for="OrderId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DriverId" class="control-label"></label>
        <select asp-for="DriverId" class="form-control" asp-items="ViewBag.DriverId"></select>
        <span asp-validation-for="DriverId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="AddressId" class="control-label"></label>
        <select asp-for="AddressId" class="form-control" asp-items="ViewBag.AddressId"></select>
        <span asp-validation-for="AddressId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Status" class="control-label"></label>
        <select asp-for="Status" class="form-control" asp-items="ViewBag.Status"></select>
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
